{% extends 'base.html' %} {% block title %}About Us - TextUtils{% endblock %}
<!--  -->
{% block content %}
<h1>About TextUtils</h1>
<p class="lead">
  Welcome to TextUtils, a simple web application built with Django.
</p>

<div class="my-4">
  <p>
    This project was created as a way to learn and practice the fundamentals of
    the Django web framework. It provides a simple interface to perform common
    text operations, such as:
  </p>
  <ul>
    <li>Removing punctuation</li>
    <li>Converting text to uppercase</li>
    <li>Removing extra spaces</li>
    <li>Removing new lines</li>
  </ul>
  <p>This tool is free to use. Feel free to analyze any text you need!</p>
</div>

<a href="{% url 'index' %}" class="btn btn-primary">Try it Now!</a>
{% endblock %}
