{% extends 'base.html' %}

{% block title %}Analyzed Text - TextUtils{% endblock %}

{% block content %}

<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success!</strong> Your text has been analyzed.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<h1>Your Analyzed Text - {{ purpose }}</h1>
<p>
    <pre class="alert alert-light" style="font-family: monospace; font-size: 1.1rem;">{{ analyzed_text }}</pre>
</p>

<a href="{% url 'index' %}" class="btn btn-dark">Analyze Another Text</a>

{% endblock %}