{% extends 'base.html' %} {% block title %}Home - TextUtils{% endblock %}
<!--  -->
{% block content %}

<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Welcome to TextUtils!</strong> You can analyze and modify your text
  here.
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>

<div class="container">
  <form action="/removepunc" method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <label for="text-area" class="form-label"
        >Enter your text below and let TextUtils do the magic!</label
      >
      <textarea
        class="form-control"
        name="text"
        id="text-area"
        rows="8"
      ></textarea>
    </div>

    <h5>1. Text Modification Tools</h5>
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        name="removepunc"
        role="switch"
        id="switch1"
      />
      <label class="form-check-label" for="switch1">Remove Punctuation</label>
    </div>
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        name="FullCaps"
        role="switch"
        id="switch2"
      />
      <label class="form-check-label" for="switch2">Convert to UPPERCASE</label>
    </div>
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        name="titlecase"
        role="switch"
        id="switch7"
      />
      <label class="form-check-label" for="switch7"
        >Convert to Title Case</label
      >
    </div>
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        name="newlineremover"
        role="switch"
        id="switch3"
      />
      <label class="form-check-label" for="switch3">Remove New Lines</label>
    </div>
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        name="extraspaceremover"
        role="switch"
        id="switch4"
      />
      <label class="form-check-label" for="switch4">Remove Extra Space</label>
    </div>

    <h5 class="mt-3">2. Text Analysis Tools</h5>
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        name="wordcount"
        role="switch"
        id="switch5"
      />
      <label class="form-check-label" for="switch5">Count Words</label>
    </div>
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        name="charcount"
        role="switch"
        id="switch6"
      />
      <label class="form-check-label" for="switch6">Count Characters</label>
    </div>

    <button type="Submit" class="btn btn-dark mt-3">Analyze Text</button>
    <button type="button" class="btn btn-secondary mt-3" id="clear-btn">
      Clear Text
    </button>
  </form>
</div>

<script>
  document.addEventListener("DOMContentLoaded", (event) => {
    const clearButton = document.getElementById("clear-btn");
    const textArea = document.getElementById("text-area");

    clearButton.addEventListener("click", () => {
      textArea.value = "";
    });
  });
</script>

{% endblock %}
